/* Estilo para mensagens de erro (que você já tinha) */
.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

/* Novo estilo para mensagens de sucesso */
.success {
  color: green;
  background: lightgreen;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}